.wrapper {
    background-color: black;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    max-width: 400px; /* Set a max width for the login form */
    width: 90%; /* Makes the wrapper responsive */
    padding: 20px;
    border-radius: 10px; /* Rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
    margin: 0 auto; /* Centers the wrapper horizontally */
    position: absolute;
    top: 50%; /* Centers it vertically */
    left: 50%; /* Centers it horizontally */
    transform: translate(-50%, -50%); /* Offsets the div to perfectly center it */
    text-align: center;
    display: flex;
    flex-direction: column; /* Stacks the children vertically */
    gap: 15px; /* Adds space between form elements */
}

h1 {
    font-family: sans-serif;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}

.forgot {
    font-family: sans-serif;
}

input[type=text], input[type=password] {
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 200px;
    border: 2px solid white;
    color: white;
    background-color: black;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
    height: 50px;
    border-radius: 200px;
}

.remember-me {
    color: white;
    background-color: #04AA6D;
    border-radius: 200px;
    padding: 14px 20px;
    font-family: sans-serif;
}

::placeholder {
    color: white;
}

.psw {
    color: white;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.Login {
    color: white;
}

.imgcontainer {
    position: relative;  /* This allows the image to be positioned freely */
    top: 0;              /* Position it at the top of the container */
    left: 0;             /* Position it at the left of the container */
    height: 400px;       /* Adjust the height of the image as needed */
    width: 400px;        /* Adjust the width of the image as needed */
    z-index: 1;          /* Ensure the image is on top of other elements if necessary */
}

.imgcontainer img {
    transform: translate(157%, -25%); /* Offsets the div to perfectly center it */
    width: 100%;         /* Scale the image to fit the container's width */
    height: auto;        /* Keep the aspect ratio of the image */
}